@import 'variables';
@import 'mixins';

/* Home Inicio */
    .bodyH {
        @include margin(0);
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        font-family: $body-font ;
        background-image: url("../imagenes/fondoHome.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* Contenido Principal */
        .containerH {
            @include container-color;
            border-radius: 25px;
            @include sizes(auto, auto);
            @include flex-column;
            @include margin(20px);
            padding: 0;
            .textosInicio {
                width: auto;
                .titleText {
                    color: $primario-naranja;
                    margin: 20px 25px 5px 25px;
                    font-family: $primary-font;
                    font-size: $fontTitleMobile;
                }
                .textDescription {
                    display: none;
                }
                .buttonC {
                    @include flex-row;
                    align-items: center;
                    .bConocer {
                        border: transparent;
                        background-color: transparent;
                        color: $primario-naranja ;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: $fontSubtitleMobile;
                        letter-spacing: 0.1px;
                        display: inline-block;
                        margin: 10px 25px;
                        a {
                            color: $primario-naranja;
                            list-style: none;
                            text-decoration: none;
                        }
                        a:hover {
                            color: $primario-naranja;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        /*Form*/
        .cont-form {
            color: white;
            background-color: #272727;
            @include sizes(100%, 100%);
            border-radius: 25px;
            margin: 5px 0 0 0;
            .formulario {
                h2 {
                    font-size: 40px;
                    font-family: $primary-font;
                    margin: 15px 30px;
                }
                p {
                    font-size: $fontBodyMobile;
                    font-family: $body-font;
                    margin: 15px 30px;
                }
                .inputFormAl {
                    @include flex-column;
                    align-items: center;
                    justify-content: center;
                    .formInp {
                        @include sizes(90%, 48px);
                        font-size: $fontBodyMobile;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        margin: 10px 20px;
                        border-radius: 10px;
                        padding: 0px 16px;
                        background-color: #272727;
                        border: 1px solid white;
                        color: $white;
                    }
                    .formInp::placeholder {
                        color: rgb(216, 212, 212);
                    }
                    .formInp:active {
                        color: rgba(255, 255, 255, 78);
                    }
                    .enviar {
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: $fontBodyMobile;
                        color: $white;
                        text-align: center;
                        background-color: $primario-naranja;
                        @include sizes(90%, 48px);
                        border-radius: 10px;
                        border: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 20px;
                    }
                    .aviso {
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        @include sizes(100%, auto);
                        font-size: 1.3em;
                        margin: 1em;
                        @include flex-row;
                        justify-content: center;
                        margin-bottom: 1.5em;
                        .politicas {
                            color: #7E7BFF;
                            padding-left: 5px;
                        }
                    }
                }
            }
        /*finForm*/
        }
        /* Fin Contenido Principal */
    }
/* Home Fin */

/* Nosotros Inicio */
    .nosotrosB {
        @extend .bodyH;
        background-image: url("../imagenes/fondoNosotros.jpg");
        /* Contenido Principal */
        /*primerContenedor*/
        .container-nosotros {
            @include container-color;
            border-radius: 25px;
            @include sizes(auto, auto);
            display: flex;
            margin: 20px;
            padding: 0;
            .textos-nosotros {
                @include flex-column;
                .containerImgN {
                    padding: 5px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    .imagNosRep {
                        @include sizes(90%, 90%);
                        margin: 10px 0;
                    }
                }
                .contenido {
                    @include sizes(100%, 100%);
                    padding: 15px;
                    @include flex-column;
                    justify-content: flex-start;
                    color: $white;
                    background-color: #272727;
                    border-radius: 25px;
                    h3{
                        font-family: $body-font;
                        font-size: $fontSubtitleMobile;
                        margin: 10px;
                        text-align: center;
                        letter-spacing: 00.1px;
                    }
                    h1 {
                        font-family: $primary-font;
                        font-size: $fontTitleMobile;
                        color: $primario-naranja;
                        letter-spacing: 00.1px;
                        text-align: center;
                    }
                    p {
                        font-family: $body-font;
                        font-size: $fontBodyMobile;
                        letter-spacing: 00.1px;
                        margin: 15px;
                        strong{
                            font-weight: bolder;
                            color: $primario-naranja;
                        }
                    }
                }
            }
        }
        /*finPrimerContenedor*/
        /*segundoContenedor*/
        .containerQueOfrecemos {
            @include container-color;
            border-radius: 25px;
            @include sizes(auto, auto);
            @include flex-column;
            margin: 20px;
            .textQueO {
                color: $white;
                @include flex-column;
                margin: 25px;
                h2 {
                    font-family: $primary-font;
                    font-size: $fontTitleMobile;
                    color: $primario-naranja;
                    text-align: center;
                }
                p {
                    font-family: $body-font;
                    font-size: $fontBodyMobile;
                }
                dt {
                    font-family: $body-font;
                    font-size: $fontBodyMobile;
                    padding: 10px 0;
                    text-decoration: underline;
                    color: $primario-naranja;
                }
                dd{
                    font-family: $body-font;
                    font-size: 20px;
                    margin: 5px 10px;
                }
            }
            .imgQueO {
                @include sizes(100%, 100%);
                @include flex-column;
                align-items: center;
                justify-content: center;
                .solarium {
                    @include sizes(100%, 100%);
                    margin: 0;
                    padding: 0;
                    border-radius: 0;
                }
                .fogateros {
                    @include sizes(100%, 100%);
                }
                .casaClub {
                    @include sizes(100%, 100%);
                    border-radius: 0 0 25px 25px;
                }
            }
        }
        /*finSegundoContenedor*/
        /* Fin Contenido Principal */
    }
/* Nosotros Fin */

/* Masterplan Inicio */
    .nosotrosM {
        @include sizes(100%, 100%);
        @extend .bodyH;
        background-image: url("../imagenes/fondoMasterplan.jpg");
    /* Contenido Principal */
        .tituloM {
            margin: 20px;
            color: $primario-naranja;
            text-decoration: underline;
            font-family: $primary-font;
            font-size: $fontTitleMobile;
            display: flex;
            justify-content: center;
            font-weight: lighter;
        }
        .containerMaster {
            @include container-color;
            @include sizes(auto, auto);
            @include flex-column-reverse;
            margin: 20px;
            align-items: center;
            .textC {
                @include sizes(100%, 100%);
                color: $white;
                background-color: #272727;
                border-radius: 0 0 25px 25px;
                @include flex-column-nowrap;
                align-items: center;
                justify-items: center;
                align-content: center;
                justify-content: center;
                .titulo {
                    font-size: $fontTitleMobile;
                    font-family: $primary-font;
                    color: $primario-naranja;
                    margin: 10px 30px;
                    text-align: center;
                }
                .containerPagos {
                    .containerMeses {
                        @include sizes(75%, auto);
                        border: 1px solid $primario-naranja;
                        border-radius: 10%;
                        background-color: #272727;
                        @include flex-column;
                        justify-content: center;
                        margin: 20px 30px;
                        padding: 20px;
                        .tituloC {
                            font-family: $primary-font;
                            font-size: 40px;
                            text-align: center;
                        }
                        .descriptionC {
                            font-family: $body-font;
                            font-size: $fontBodyMobile;
                            text-align: center;
                        }
                    }
                    .containerEnganche {
                        @include sizes(75%, auto);
                        border: 1px solid $primario-naranja;
                        border-radius: 10%;
                        background-color: #272727;
                        @include flex-column;
                        justify-content: center;
                        margin: 20px 30px;
                        padding: 20px;
                        .tituloC {
                            font-family: $primary-font;
                            font-size: 40px;
                            text-align: center;
                        }
                        .descriptionC {
                            font-family: $body-font;
                            font-size: $fontBodyMobile;
                            text-align: center;
                        }
                    }
                }
                .descriptionP {
                    font-family: $secondary-font;
                    font-size: 22px;
                    text-align: center;
                    margin: 0 20px;
                }
            }
            .imgM {
                img {
                    @include sizes(100%, 100%);
                    border-radius: 25px 25px 0 0;
                }
            }
        }
    /* Fin Contenido Principal */
    }
/* Masterplan Fin */

/* Beneficios Inicio */
    .beneficiosB {
        @include sizes(auto, auto);
        @extend .bodyH;
        background-image: url("../imagenes/fondoBeneficios.jpg");
        /* Contenido Principal */
        .containerBeneficios {
            @include container-color;
            @include sizes(auto, auto);
            @include flex-column;
            margin: 30px 20px;
            color: $white;
            .tituloB {
                font-family: $primary-font;
                font-size: $fontTitleMobile;
                font-weight: lighter;
                color: $primario-naranja;
                text-align: center;
                text-decoration: underline;
            }
            .row {
                /*Imagen Slides*/
                .col-8.col-md-8.col-lg-5.col-xl-6.px-0.px-md-5 {
                    @include sizes(300px, 300px);
                    #imgCarusel {
                        @include sizes(100%, 100%);
                        image-rendering: pixelated;
                    }
                }
                /*fin Imagen Slides*/
                /*Textos Slides*/
                .col-11.col-md-12.col-lg-5.col-xl-4.order-last.order-lg-first {
                    text-align: center;
                    margin-top: 16px;
                    .col-sm-12.col-md-12.secondary-txt-light.align-self-baseline {
                            font-size: 18px;
                            color: $primario-naranja;
                    }
                    .col-12.col-md-12.secondary-txt-light.align-self-baseline {
                            font-size: 30px;
                    }
                    .col-12.col-lg-12.text-white {
                            font-size: 24px;
                    }
                }
                /*fin Textos Slides*/
            }
        }
        /* fin Contenido Principal */
    }
/* Beneficios Fin */

/* Galeria Inicio */
    .galeriaB {
        @extend .bodyH;
        background-image: url("../imagenes/fondoMasterplan.jpg");
        /* Contenido Principal */
        .containerImg {
            @include container-color;
            @include sizes(97%, 84.9%);
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 0;
            row-gap: 0;
            margin: 30px 20px;
            img {
                @include sizes(100%, 100%);
                margin: 0;
                padding: 0;
                .imgB1 {
                    border-radius: 25px 0 0 0;
                }
                .imgB3 {
                    border-radius: 0 25px 0 0;
                }
                .imgB7 {
                    border-radius: 0 0 0 25px;
                }
                .imgB9 {
                    border-radius: 0 0 25px 0;
                }
            }
        }
        /* Fin Contenido Principal */
    }
/* Galeria Fin */